<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
  <header>
    <h1> Sweet Potato Facts </h1>

    <nav>
      <a href="/"> Home </a>
      <a href="/about"> About </a>
      <a href="/gallery"> Gallery </a>
        <div class="littlepotatodiv">
          <img class="potatodance" src="https://media.giphy.com/media/TZ2XNr9So2JMY/giphy.gif">
        </div>
    </nav>
  </header>
  <div class="container">
    <div class="factbox">
      <div class="facttext">
        <h4>Fact #287</h4>
        <ul>
          <li> Sweet potatoes are not only a great source of beta-carotene, but also are a good source of vitamins A, C, manganese, calcium, potassium, iron, vitamin B6, and fiber. </li>
        </ul>
      </div>
    </div>
  </div>
  </body>
</html>
