<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <header>
    <h1> Sweet Pics </h1>

    <nav>
      <a href="/"> Home </a>
      <a href="/about"> About </a>
      <a href="/gallery"> Gallery </a>
        <div class="littlepotatodiv">
          <img class="potatodance" src="https://media.giphy.com/media/TZ2XNr9So2JMY/giphy.gif">
        </div>
    </nav>
  </header>
  <body>

  </body>
</html>
